
// Move this to common styles
.container {
    height: 100vh;
    background-color: #a5c8d4;
    justify-content: center;
    align-items: center;
    display:flex;
    >h1 {
        font-family: "Rubik Scribble";
        font-weight: 600;
        font-style: normal;
        font-size: 8rem;
        color: #fff;
        margin-bottom:30rem;
    }
    
} 